*{
    border: 0;
    padding: 0;
    overflow-x: hidden;
}
nav{
    background: hsla(303, 100%, 8%, 1);

    background: rgb(10,0,17);
    background: linear-gradient(90deg, rgba(10,0,17,1) 0%, rgba(60,19,105,1) 49%, rgba(92,59,121,1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2A0028", endColorstr="#6710C2", GradientType=1 );
display: flex;
justify-content: space-around;
align-items: center;
color: white;
}
ul{
    display: flex;
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
li{
    margin: 15px;
}
body{
    background-color: rgb(1, 3, 11);
}
.leftnav{
    font-size: 1.3rem;
    
}
.parallax{
    overflow: hidden  ;
    margin-top: 50px;
}
#cloud2{
    position: absolute;
    top: 800px;
    left: 250px;
    height:100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    animation: cloudsanimation;
    animation-timeline: view();
}
#cloud1{
    position: absolute;
    top: 0;
    left:0;
    height:100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
    animation: cloudsanimation2;
    animation-timeline: view();

}
#planet{position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:1500px;
    animation: planetanimation;
    animation-timeline: view();
}
@keyframes planetanimation {
    0%{
        transform: rotate(0deg);

    }

    100%{
        transform: rotate(360deg);
        
    }
}

@keyframes cloudsanimation {
    0%{
        transform:translate(-20%);
    }
    100%{
        transform: translate(20%);
    }

}
@keyframes cloudsanimation2 {
    0%{
        transform:translate(100%);
    }
    100%{
        transform: translate(-40%);
    }
}